<mat-toolbar>
  <h1 class="header-title">ToDo List</h1>

  <button
    mat-icon-button
    color=""
    matTooltip="Menu"
    matTooltipPosition="before"
    matTooltipShowDelay="500"
    matTooltipHideDelay="500"
    class="menu-button"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="saveListDialog(currentList)">
      Save List
    </button>
    <button mat-menu-item (click)="deleteListDialog()">Delete List</button>
    <button mat-menu-item (click)="showCompleted()">
      Show Completed Tasks
    </button>
    <button mat-menu-item (click)="showDeleted()">Show Deleted Tasks</button>
  </mat-menu>
</mat-toolbar>
