<mat-toolbar>
  <h1>ToDo List</h1>

  <form #taskForm="ngForm" (ngSubmit)="addNewTask(taskForm)">
    <input ngModel name="task" type="text" />
    <button type="submit">Add</button>
  </form>

  <button
    mat-icon-button
    color=""
    aria-label="menu icon"
    class="menu-button"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>Edit Tasks</button>
    <button mat-menu-item>Delete Tasks</button>
  </mat-menu>
</mat-toolbar>
