.arrow_drop_down-icon:hover {
  cursor: pointer;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.formSpan {
  padding-right: 8px;
}

.header-title {
  margin-right: 8px;
}

.task-input {
  background-color: #212121;
  font-size: large;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}

.menu-button:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #0fa, 0 0 82px #0fa,
    0 0 92px #0fa;
  color: white;
  border-radius: 5px;
  transition: 450ms ease-out;
  background: transparent;
}
