.arrow_drop_down-icon:hover {
  cursor: pointer;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formSpan {
  padding-right: 8px;
}

.header-title {
  margin-right: 8px;
}
