<mat-toolbar>
  <h1 class="header-title">ToDo List</h1>

  <form #taskForm="ngForm" (ngSubmit)="addNewTask(taskForm)">
    <span class="formSpan">
      <label>Add Task: </label
      ><input ngModel name="task" type="text" placeholder="New Task" />
    </span>
    <span class="buttonSpan">
      <button mat-flat-button type="submit">Add</button>
    </span>
  </form>

  <button
    mat-icon-button
    color=""
    aria-label="menu icon"
    class="menu-button"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>Add List</button>
    <button mat-menu-item (click)="deleteTask()">Delete List</button>
  </mat-menu>
</mat-toolbar>
