<app-header></app-header>

<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <p class="title">Saved Lists</p>
    <app-saved-lists
      *ngFor="let list of this.todoService.savedListsArray; let i = index"
      [list]="list"
      [i]="i"
    ></app-saved-lists>
    <!-- <button (click)="showFiller = !showFiller" mat-raised-button>
      List Name Here:
    </button> -->
  </mat-drawer>

  <div class="right-container">
    <button
      class="toggle-button"
      type="button"
      mat-button
      (click)="drawer.toggle()"
    >
      >>
    </button>
    <app-list class="the-app-list"></app-list>
  </div>
</mat-drawer-container>
