<app-header></app-header>

<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <p class="title">Saved Lists</p>
    <button
      *ngFor="let list of savedListsArray; let i = index"
      (click)="reloadList(drawer, i)"
      mat-button
    >
      {{ list.listName }}
    </button>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      List Name Here:
    </button>
    <p *ngIf="showFiller"><button mat-button>delete</button></p>
  </mat-drawer>

  <div class="right-container">
    <button
      class="toggle-button"
      type="button"
      mat-button
      (click)="drawer.toggle()"
    >
      >>
    </button>
    <app-list class="the-app-list"></app-list>
  </div>
</mat-drawer-container>
