.right-container {
  display: flex;
  justify-content: left;
  background-color: black;
  min-height: 500px;
}
.sidenav {
  display: flex;
  justify-content: center;
  max-width: 200px;
}

.title {
  padding: 8px;
  font-size: x-large;
  display: flex;
  justify-content: center;
}
.mat-drawer-container {
  background-color: black;
}
.toggle-button {
  transition: 500ms;
  transition-timing-function: cubic-bezier(0.23, 1.06, 0.86, 1.36);
}
.spun {
  transform: rotate(180deg);
}
