body {
  background-color: black;
}

.todo-card-holder {
  padding: 5px;
}
.delete-button {
  min-width: 40px;
  width: 40px;
  font-size: x-small;
  padding: 0px 0px;
  padding-left: 2px;
}

.edit-button {
  min-width: 40px;
  width: 40px;
  font-size: x-small;
  padding: 0px 0px;
}

.edit-button:hover {
  background-color: #143601;
}

.card-title {
  font-size: xx-large;
  min-width: 200px;
  min-height: 40px;
  padding-top: 4px;
  margin-top: 8px;
  margin-left: 8px;
}
.todo-card {
  display: flex;
  padding: 0px;
}
.left-side {
  flex: 2;
  max-width: fit-content;
  padding-right: 2px;
}

.right-side {
  justify-content: right;
  max-width: fit-content;

  flex: 1;
}

.mat-focus-indicator {
  max-width: fit-content;
  max-height: fit-content;
}
.card-action {
  margin-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.up-arrow-icon {
  font-size: x-large;
}

.up-arrow-icon:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #0fa, 0 0 82px #0fa,
    0 0 92px #0fa;
  color: white;
  border-radius: 5px;
  transition: 300ms;
  background: transparent;
}

.down-arrow-icon {
  font-size: x-large;
}

.down-arrow-icon:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #0fa, 0 0 82px #0fa,
    0 0 92px #0fa;
  color: white;
  border-radius: 5px;
  transition: 300ms;
  background: transparent;
}

.toDo-input {
  background-color: #424242;
  font-size: xx-large;
  max-width: 200px;
  max-height: 24px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  padding: 0;
}

.complete-button {
  max-width: 50px;
  width: 40px;
  font-size: x-small;
  padding: 0px 0px;
  padding-right: 2px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.button-container {
  max-height: 30px;
  max-width: 50px;
  display: flex;
  justify-content: right;
}
