body {
  background-color: black;
}

.todo-card-holder {
  padding: 5px;
}
.delete-button {
  min-width: 40px;
  width: 40px;
  font-size: x-small;
  padding: 0px 0px;
  padding-left: 2px;
}

.edit-button {
  min-width: 40px;
  width: 40px;
  font-size: x-small;
  padding: 0px 0px;
}
.card-title {
  font-size: xx-large;
  min-width: 240px;
  min-height: 40px;
  padding-top: 4px;
  margin-top: 8px;
  margin-left: 8px;
}
.todo-card {
  display: flex;
  padding: 0px;
}
.left-side {
  flex: 2;
}

.right-side {
  justify-content: right;
  max-width: fit-content;

  flex: 1;
}
.card-action {
  margin-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.up-arrow-icon {
  font-size: x-large;
}
.down-arrow-icon {
  font-size: x-large;
}
