<h2 mat-dialog-title>Do you want to save the current list?</h2>
<mat-dialog-actions>
  <label>Name your saved list:</label>
  <br /><br />
  <input type="text" placeholder="New List" />
  <button mat-button mat-dialog-close cdkFocusInitial>Save</button>
  <button mat-button mat-dialog-close>Cancel</button>

  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Clearable input</mat-label>
    <input matInput type="text" [(ngModel)]="value" />
    <button
      *ngIf="value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="value = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-actions>
